---
layout: page
permalink: /docs/
title: Documentation
no_header: true
---

{{ site.docs.permalink }}

<header class="docs-header" >
	<h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
    <span class="docs-version">{{ site.version }}</span>
  </h1>
</header>

<h2>Guides</h2>
{% include docs-category-article-list.html category="Guides" %}

<h2>API Reference</h2>
<h4>Modules</h4>
{% include docs-category-article-list.html category="API-modules" %}
<h4>Classes</h4>
{% include docs-category-article-list.html category="API-classes" %}
<h4>Interfaces</h4>
{% include docs-category-article-list.html category="API-interfaces" %}

<h2>Addons</h2>
{% include docs-category-article-list.html category="addons" %}
