---
layout: default
permalink: /
---

<div class="home">

  <div class="logo">
    <img src="/images/logo-full.png">
  </div>

  <div class="description">
    <p>Build terminals in the browser</p>
  </div>

  <div class="npm-install">
    <div class="text">npm install @xterm/xterm</div>
    <button class="copy" title="Copy to clipboard" onclick="navigator.clipboard.writeText('npm install @xterm/xterm'); document.querySelector('.copy').textContent = '\u2713'">Copy</div>
  </div>

  {% include demo.html %}

  {% capture getting_started %}{% include getting-started.md %}{% endcapture %}
  {{ getting_started | markdownify }}

  {% include real-world-uses.html %}

</div>
