---
layout: default
permalink: /
---

<div class="home">

  <div class="logo">
    <img src="/images/logo-full.png">
  </div>

  <div class="description">
    <p>Build terminals in the browser</p>
  </div>
  
  <article>
    {% capture about %}{% include xtermjs-description.md %}{% endcapture %}
    {{ about | markdownify }}
  </article>
  
  {% include demo.html %}

  {% capture getting_started %}{% include getting-started.md %}{% endcapture %}
  {{ getting_started | markdownify }}

  {% capture real_world_uses %}{% include real-world-uses.md %}{% endcapture %}
  {{ real_world_uses | markdownify }}

</div>


TODO: Stick this somewhere: It's used by popular projects such as VS Code, Hyper and Theia.