_site
.sass-cache
.jekyll-metadata

# Ruby/Jekyll
.bundle/
vendor/

# Node.js
package-lock.json
node_modules/

_typedoc/
_xterm.js/

# Yarn 4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDEs
.idea/
.vscode/
