<div class="demo">
    <div class="inner"></div>
</div>
<link rel="stylesheet" href="https://unpkg.com/xterm@4.18.0/css/xterm.css" />
<style>
.xterm-viewport.xterm-viewport {
    scrollbar-width: thin;
}
.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}
</style>
<script src="https://unpkg.com/xterm@4.18.0/lib/xterm.js"></script>
<script src="https://unpkg.com/xterm-addon-webgl@0.12.0-beta.15/lib/xterm-addon-webgl.js"></script>
<script src="{{ "/js/demo.js" | prepend: site.baseurl }}"></script>

