.home {
    .logo {
        text-align: center;
    }

    .description {
        // max-width: 500px;
        text-align: center;
        font-size: 1.3em;
        margin: 1em auto;
        opacity: 0.8;
    }
}